/* Rebekah Heacock Jones
 * rebekah.heacock@gmail.com
 * CSCI E-12, Spring 2016
 * pies.css
 */

body {
	font-family: 'Cardo', 'Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 5em;
}

.navbar {
	background: rgba(255,255,255,0.5);
}

.navbar-brand {
	font-family: 'Pacifico', 'Helvetica', sans-serif;
	color: #000;
}

.navbar-brand:hover {
	color: #FFF;
}

.nav {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.nav li a {
	color: #000;
}

.nav li a:hover {
	color: #FFF;
	background: none;
}

.navbar-header button {
	background: rgba(255,255,255,0.25);
}

.icon-bar {
	background-color: #000;
}

header {
	background-repeat: none;
	background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    padding-top: 70px;
    color: #000;
    margin-bottom: 30px;
}

.header-home {
	background-image: url('../images/header.png');
	/* https://www.pexels.com/photo/baking-bakery-bake-cooking-8924/ */
}

.header-menu {
	background-image: url('../images/menu.png');
	/* https://www.pexels.com/photo/cheesecake-on-plate-and-cup-of-coffee-6600/ */
}

.header-order, .header-press, .header-contact {
	background-image: url('../images/order.png');
	/* https://www.pexels.com/photo/baking-pastry-dough-bakery-9095/ */
}

.header-text {
	padding-top: 50px;
	padding-bottom: 50px;
}

.welcome {
	font-family: 'Pacifico', 'Helvetica', sans-serif;
	font-size: 4em;
}

.teaser {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2em;
	padding-top: 50px;
}

.welcome-button {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2em;
	padding: 15px;
	border-radius: 5px;
	background: rgba(40,99,115, 0.8);
	color: white;
	display: inline-block;
	margin-top: 20px;
}

.welcome-button:hover {
	color: white;
	text-decoration: none;
	background: rgba(40,99,115, 1);
}

@media (min-width: 768px) {

	.header-text {
		padding-top: 150px;
		padding-bottom: 300px;
	}

	.welcome {
		font-size: 5em;
	}

	.teaser {
		font-size: 3.5em;
	}

}

.lead {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2em;
}

.white {
	color: #FFF;
}

.pie {
	background-repeat: none;
	background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    width: 50%;
    padding: 30px;
    margin: 10px auto;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}	

.strawberry {
	background-image: url('../images/strawberries.png');
	/* https://www.pexels.com/photo/food-healthy-fruits-kitchen-1477/ */
}

.lemon {
	background-image: url('../images/lemons.png');
	/* https://unsplash.com/photos/E6QNwtp5Gbk */
}

.peach {
	background-image: url('../images/peach.png');
	/* https://www.pexels.com/photo/food-kitchen-pie-cake-6981/ */
}

.apple {
	background-image: url('../images/apple.png');
	/* https://www.pexels.com/photo/healthy-fruits-health-apples-4148/ */
}

.blueberry {
	background-image: url('../images/blueberries.png');
	/* https://www.pexels.com/photo/food-healthy-red-blue-70862/ */
}

.pear {
	background-image: url('../images/pears.png');
	/* https://unsplash.com/photos/YbFrjg5m5ZY */
}

.pie span {
	padding: 5px;
	background: rgba(0, 0, 0, 0.5);
}

footer {
	margin-top: 30px;
	background-color: #D6D6D6;
	color: #FFF;
	padding: 5px;
	text-align: right;
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

footer a {
	color: #000;
}

footer a:hover {
	text-decoration: none;
	color: #FFF;
}